/* General Reset */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding-top: 150px;
}

/* Logo and Heading */
.logo-name {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #fff;
}

/* Navbar Styles */
nav {
  color: #fff;
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navlink {
  display: flex;
  padding: 5px 10px;
}

.navlink a:hover {
  font-weight: bold;
}

.nav-links a.active {
  background-color: #555;
  font-weight: bold;
  color: #ff0;
  border-radius: 5px;
}

.navbar h1 {
  display: inline;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-links .job-notifications {
  position: relative;
  display: inline-block;
  border: 1.5px solid transparent; /* Border starts as transparent */
  padding: 5px 10px;
  animation: rotate-border 3s linear infinite; /* Apply continuous rotation */
  color: #fff;
  border-radius: 10px;
}

@keyframes rotate-border {
  0% {
    border-color: red;
  }
  25% {
    border-color: green;
  }
  50% {
    border-color: blue;
  }
  75% {
    border-color: yellow;
  }
  100% {
    border-color: red;
  }
}

/* Hero Section */
#hero {
  background-image: url("https://res.cloudinary.com/dsjcty43b/image/upload/v1726485488/thumbnail_bklixe.jpg");
  color: #fff;
  text-align: center;
  background-size: cover;
  height: 100vh;
  padding-top: 50px;
}

.hero-content h2 {
  font-size: 2.5rem;
}

.social-heading {
  color: black;
}

/* Flexbox Container */
.container {
  display: flex;
  justify-content: space-between;
  background-color: #333;
}

h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  background-color: #131A22;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  margin-right: 50px;
  margin-top: 20px;
}

.social-links a:last-child{
  margin-right: 0px;
}
.social-links{
  display: flex;
  flex-direction: row;
}

.social-links a:hover {
  color: #555;
}
.span-copy{
  color: #37475A;
  text-decoration: none;
}
.bottom-icons{
  height: 50px;
  width: 55px;
}
.bottom-icons-instagram{
  height: 40px;
  width: 40px;
}
.bottom-icons-linkedin{
  height: 45px;
  width: 50px;
}


.logo {
  height: 50px;
  width: 50px;
  background-color: #f4f4f4;
  border-radius: 50%;
  margin: 5px;
}

.logo-websitename {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Header */
.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #fff;
}

.header-title {
  font-size: 100px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
}

.span-element {
  color: black;
  font-weight: bold;
  font-size: 0.6rem;
  padding-top: 60px;
}

/* About Section */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
}

.about-image {
  width: 300px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.about-content {
  display: flex;
  padding: 20px 150px;
  justify-content: center;
  align-items: center;
}

.about-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 55px;
}

.about-heading {
  font-size: 1.5rem;
  padding-left: 100px;
  background-color: #333;
  color: #fff;
  margin: 10px;
  border-radius: 10px;
}

.list-about {
  padding-bottom: 10px;
}

li::marker {
  content: "⭐";
}

/* Services Section */
.services-image {
  margin-left: 50px;
  width: 230px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.about-content:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-left: 20px;
  margin-right: 20px;
}

/* Back to Top Button */
.back-to-top {
  font-size: 1.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37475A;
  color: #fff;
  height: 40px;
  text-decoration: none;
}

.back-to-top:hover,
.navFooterBackToTop:focus {
  background-color: #485769;
}

section {
  scroll-margin-top: 160px;
}

#down-logo {
  background-color: #232f3e;
  color: red;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading-down {
  color: #fff;
  font-size: 0.8rem;
}

/* Job Section */
.job-container {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 250px;
}

.jobs-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.apply-link-button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border-radius: 10px;
  font-size: 0.6rem;
}

.button-appy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#careers {
  height: auto;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.job-title {
  font-size: 18px;
  font-weight: bold;
}

.arrow {
  font-size: 20px;
  transition: transform 0.3s;
}

.arrow.down {
  transform: rotate(0deg);
}

.arrow.up {
  transform: rotate(180deg);
}

.job-details {
  display: none;
  margin-top: 10px;
}

.show {
  display: block;
}

/* Responsive Styles */

/* Tablets and Small Desktops */
@media (max-width: 1024px) {
  .nav-links {
    flex-direction: row;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .about-content {
    flex-direction: column;
    padding: 10px 20px;
  }

  .services-image {
    width: 200px;
    height: 200px;
  }

  .about-image {
    width: 250px;
    height: auto;
  }

  .header-title {
    font-size: 80px;
  }
  .container{
    flex-direction: column;
display: flex;
justify-content: center;
align-items: center;  }
}


/* Mobile Devices */
@media (max-width: 768px) {
  nav {
    height: 100px;
  }

  .nav-links {
    flex-direction: row;
  }
  .container{
    flex-direction: column;
display: flex;
justify-content: center;
align-items: center;  }

  .nav-links a {
    padding: 10px;
  }

  #hero {
    height: 40vh;
    width: 100vw;
    padding-top: 85px;

  }

  .hero-content h2 {
    font-size: 1.8rem;
  }

  .about-content {
    flex-direction: column;
    padding: 10px;
  }

  .about-image {
    width: 200px;
  }

  .apply-link-button {
    font-size: 0.5rem;
  }

  .header-title {
    font-size: 40px;
  }

  .about-heading {
    font-size: 1.2rem;
    padding-left: 50px;
  }

  .job-container {
    width: auto;
  }

  .jobs-data-container {
    flex-direction: column;
    justify-content: center;
  }
}

/* Extra Small Mobile Devices */
@media (max-width: 480px) {
  .about-image {
    width: 150px;
  }

  .services-image {
    width: 150px;
    height: 150px;
  }

  .hero-content h2 {
    font-size: 0.7rem;
    padding-top: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
  }
  .hero-content p {
    font-size: 0.5rem;
  }

  .apply-link-button {
    font-size: 0.4rem;
  }

  .header-title {
    font-size: 25px;
  }

  .job-container {
    width: auto;
  }
  #hero {
    padding-top: 120px;
    width: auto;
    height: 25vh;
    
  }
  .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .navlink{
    font-size: 5px;
  }
  .about-text-container{
    padding: 5px;
    order: 2;
  }

  .services-image{
    margin-left: 0px;
    order: 1;
  }
}
